<!DOCTYPE html>
<html>
<head>
    <title>About Playlist Radio Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/">Playlist Radio Generator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privacy">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h1>About Playlist Radio Generator</h1>
        <p>
            Spotify's removal of the Playlist Radio feature has made it increasingly challenging to discover new music related to a specific playlist. The current algorithm tends to recommend music that listeners are already familiar with. This simple application addresses this issue by generating new Playlist Radios for any playlist you desire, without any bias toward your listening habits. Note that the Spotify API has a relatively low rate limit so if the program is not responding, please try again another time.
        </p>
        <p>The code for this program is available on GitHub:
            <a href="https://github.com/sgcartwright" target="_blank">GitHub</a>
        </p>
        <p>Contact via email:
            <a href="mailto:stevencartwright@ufl.edu">Email</a>
        </p>
    </div>
    <!-- Add Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
